body {
	background-color: #b3b3b3;
}
.nav {
	background-image: url("http://www.travelvalley.nl/uploads/headers/10-coolste-dingen-doen-in-londen.jpg");
	background-size: cover;
}

.nav ul {
	color:white;
}

.main h1 {
	font-family: 'Verdana';
}

.main h3 {
	font-family: 'Consolas';
}
